# libinit
allow init proc_oppo_operator:file r_file_perms;

allow init property_type:file { append create getattr map open read relabelto rename setattr unlink write };

# Allow init to read perf_profile prop
get_prop(init, system_perf_prop)

# Allow init to read cabc prop
get_prop(init, system_cabc_prop)
